header{
  text-align: center;
}

h2{
  text-align: center;
  margin-inline-start: 30px;
}

h3{
  margin-inline-start: 20px;
}

body {
  background-color: #25d05b;
  color: white;
}

p{
  margin-inline-start: 20px;
}

footer {
  margin: 50px;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.characters_image{
  max-height: 300px;
  max-width: 300px;
  border-radius: 15px;
}

.image{
  margin-inline: 10px;
  max-height: 20px;
  max-width: 20px;
}

@media screen and (max-width:299px){
  .characters_image{
    display: none;
  }
}

@media print{
  body {
    background-color: white;
    color: black;
  }
  .characters_image{
    display: none;
  }
  .no_print{
    display: none;
  }
  .image{
    display: none;
  }
}
